body{
    background: #f0f0f0;
    font-family:'Times New Roman', Times, serif;
}
.bill-container{
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.bill-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.table-bill th, .table-bill td{
    border: 1px solid #000;
    padding: 8px;
}
.table-bill th{
    background-color: #f8f9fa !important;
    /*Giữ màu nền thẻ th khi in */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

@media print{
    body{
        background: #fff;
    }
    .bill-container{
        box-shadow: none;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
    /* Ẩn các phần tử không muốn in */
    .no-print{
        display: none !important;
    }
}